[submodule "PBRApp/vendor/glm"]
	path = PBRApp/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "PBRApp/vendor/ImGui"]
	path = PBRApp/vendor/ImGui
	url = https://github.com/martbelko/ImGui/
[submodule "PBRApp/vendor/GLFW"]
	path = PBRApp/vendor/GLFW
	url = https://github.com/martbelko/GLFW
